blinker==1.9.0
click==8.3.1
colorama==0.4.6
Flask==3.1.2
flask-cors==6.0.2
gunicorn==23.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==25.0
python-dotenv==1.2.1
Werkzeug==3.1.4
psycopg[binary]>=3.1.0
numpy>=1.26.0
sentence-transformers>=2.3.0
pgvector==0.2.4
huggingface_hub>=0.20.0
bert-score==0.3.13